<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cho.md.mapper.AddressMapper">
	<select id="list" resultType="Address">
	    select * from ADDRESS order by SEQ desc
	</select>
	
	<delete id="delete" parameterType="Long">
	    delete from ADDRESS where SEQ=#{seq}
	</delete>
	<select id="FileListForRemove" parameterType="long" resultType="AddressFile">
	    select * from ADDRESS_File where SEQ=#{seq}
	</select>
	
	<insert id="insertSelectKey" parameterType="Address" >
	 	<selectKey keyProperty="seq" order="BEFORE" resultType="Long">
	 		select ifnull(max(seq)+1,1) from ADDRESS
	 	</selectKey>
		insert into ADDRESS(seq, name, addr, rdate) values(#{seq}, #{name}, #{addr}, now())
	</insert>
	<insert id="insertFile" parameterType="AddressFile">
		insert into ADDRESS_File(ofname,sfname,fsize,seq) values( #{ofname}, #{sfname}, #{fsize}, #{seq})
	</insert>
</mapper>

